<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="activeTab='siswa'"
      layout:decorate="~{layout}">
    <head>
        <title>Halaman Siswa</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card-box">
                        <p>
                            <a th:href="@{/siswa/form}" class="btn btn-primary"> Tambah Siswa</a>
                            &nbsp; &nbsp;
                        </p>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                <h4 class="header-title m-t-0">List Siswa</h4>
                                <p class="text-muted font-13 m-b-10">
                                    Berikut adalah daftar <code>.Siswa KOPI PAGI</code> dari semua kelas.
                                </p>
                                <div class="p-20">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nis</th>
                                                <th>Nama</th>
                                                <th>Kelas</th>
                                                <th>Jurusan</th>
                                                <th>Tanggal Lahir</th>
                                                <th>Tempat Lahir</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Alamat</th>
                                                <th>Agama</th>
                                                <th>No. Tlp.</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="c : ${data.content}">
                                                <td th:text="${c.nis}">1234</td>
                                                <td th:text="${c.namaSiswa}">Dian</td>
                                                <td th:text="${c.kelas.namaKelas}">XXI</td>
                                                <td th:text="${c.jurusan.namaJurusan}">RPL</td>
                                                <td th:text="${c.tanggalLahir}">28-08-1998</td>
                                                <td th:text="${c.tempatLahir}"></td>
                                                <td th:text="${c.jenisKelamin}">Laki-laki</td>
                                                <td th:text="${c.alamat}">Jl. holiwood</td>
                                                <td th:text="${c.agama}">Islam</td>
                                                <td th:text="${c.nomorTelepon}"></td>
                                                <td>
                                                    <a th:href="@{/siswa/form(id=${c.id})}" class="btn btn-warning">
                                                        <i class="zmdi zmdi-edit">Edit</i></a>
                                                    <a th:href="@{/siswa/delete(id=${c.id})}" class="btn btn-danger">
                                                        <i class="zmdi zmdi-delete">Hapus</i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav style="text-align: center;">
                                        <ul class="pagination pagination-split" sd:pagination="full">
                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
